# 预配置文件
# 语言和地区
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
# 网络设置
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_nameservers string 8.8.8.8
# 设置镜像源
d-i mirror/country string manual
d-i mirror/http/hostname string mirror.xtom.com.hk
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
# 设置时区
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Hong_Kong
# 分区设置
# d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select boot-root
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              100 500 1000 ext4                               \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ /boot }                     \
              .                                               \
              1000 10000 1000000000 ext4                      \
                      $primary{ }                             \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .                                               \
              64 512 200% linux-swap                          \
                      $primary{ }                             \
                      method{ swap } format{ }                \
              .
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
# 设置root用户密码
d-i passwd/root-login boolean true
d-i passwd/root-password password 123456abcd
d-i passwd/root-password-again password 123456abcd
d-i passwd/make-user boolean false
# 配置apt和软件选择
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server build-essential
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false   
d-i apt-setup/cdrom/set-failed boolean false
# 安装GRUB引导加载程序
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
# 完成安装后的命令
d-i preseed/late_command string apt-get install curl wget -y